body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::placeholder {
  color: rgba(57, 58, 60, 0.524) !important;
  opacity: 1; 
}

.menu-list p {
  border-radius: 5px;
  color: #4a4a4a;
  display: block;
  padding: 0.5em 0.9em;
  cursor: pointer;
  text-decoration: none;
}

.menu-list p:hover {
  background-color: #3098e7;
  color: whitesmoke;
  cursor: pointer;
 
}

.active-menu-list {
  background-color:  #3098e7;
  color: whitesmoke !important;
  animation: wobble 1s 1;
  
}

@keyframes wobble {
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}